footer {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-self: center;
  position: absolute;
  bottom: 0;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 1));
}

footer > div {
  display: flex;
  gap: 15px;
  width: 250px;
  justify-content: center;
}

footer > div > img {
  width: 60px;
}

footer > a {
  margin-right: 15px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  align-self: center;
}

.footer-text {
  margin-left: 20px;
  justify-content: start;
  width: 20%;
  align-items: center;
}

.react-logo {
  width: 40px;
}

footer > .github-link {
  position: absolute;
  right: 45vw;
  left: 45vw;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer-text {
    margin-left: 20px;
    justify-content: start;
    width: 40%;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .developed {
    display: none;
  }

  .react-logo {
    width: 40px;
  }

  footer > .github-link {
    position: absolute;
    right: 15vw;
  }
}
