.gen-list {
	display: flex;
	flex-direction: column;
	min-width: 10%;
	position: fixed;
	height: 95vh;
	width: 200px;
	top: 5vh;
	z-index: 2;
	background-color: #242424c7;
	padding-top: 40px;
	box-shadow: 10px 10px 29px 5px rgba(0, 0, 0, 0.5);
	animation: slideFromLeft 0.2s ease-in-out;
}

.gen-list .hidden {
	animation: reverse;
}

@keyframes slideFromLeft {
	0% {
		left: -200px;
	}

	100% {
		left: 0;
	}
}

.gen-list > ul {
	filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0;
}

.gen-list .gen-button:hover {
	filter: drop-shadow(5px 5px 2px #ffffff2c);
}

.gen-list > p {
	filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
	align-self: center;
	margin: 0 0 20px 0;
}

.close-button {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	cursor: auto;
}
