.loading-pokemon-list > img {
	position: relative;
	transform: translateY(-50%);
	top: 50vh;
	width: 175px;
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.4));
}

.loading-gen-list > img {
	width: 50%;
	position: absolute;
	top: 43vh;
	right: 25%;
	transform: translateY(-50%);
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.loading-pokemon-list > img {
		width: 175px;
	}

	.loading-gen-list > img {
		position: absolute;
		top: 20vh;
		right: 38vw;
		transform: translateY(-50%);
		width: 25%;
	}
}

@media only screen and (max-width: 600px) {
	.loading-pokemon-list > img {
		width: 100px;
	}

	.loading-gen-list > img {
		width: 35%;
		position: absolute;
		top: 30vh;
		right: 34vw;
		transform: translateY(-50%);
	}
}
