.loading-pokemon.list,
.loading-gen-list {
	display: flex;
	text-align: center;
	justify-content: center;
	margin: auto;
}

.loading-pokemon-list > img {
	max-width: 150px;
	max-height: 150px;
	margin-bottom: 5vh;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.loading-pokemon-list > img {
		max-width: 200px;
		max-height: 200px;
		margin-top: 110px;
	}
}

@media only screen and (max-width: 600px) {
	.loading-pokemon-list > img {
		max-width: 150px;
		max-height: 150px;
		margin-top: 110px;
	}
}
