.pokemon-card {
	border: 1px solid black;
	background-color: #414141;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 500px;
	box-shadow: 10px 10px 29px -5px rgba(0, 0, 0, 0.75);
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

#hidden {
	display: none;
}

.front-card,
.back-card {
	height: 100%;
	backface-visibility: hidden;
	
}

.back-card {
	transform: rotateY(180deg);
}

.flipped {
	transform: rotateY(180deg);
	transition: transform 0.5s;
}

.pokemon-card .pokemon {
	display: flex;
	gap: 20px;
	justify-content: center;
	width: 100%;
}
.pokemon-card > .front-card > .pokemon-sprite > img {
	max-width: 60%;
	max-height: 60%;
	opacity: 1;
}

.pokemon-card > .types {
	display: flex;
	gap: 10px;
	margin: 0 0 20px;
}

.pokemon-card > .sprite-buttons {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 100%;
}

.stats {
	display: flex;
	flex-wrap: wrap;
}

.stat {
	display: flex;
	margin-bottom: 5px;
}

dt {
	float: left;
	width: 75px;
	height: 20px;
	line-height: 20px;
	margin-right: 10px;
	font-size: 0.75em;
	text-align: right;
}

dd {
	display: flex;
	align-items: center;
	width: 197px;
	height: 17px;
	background: transparent;
	margin: 0;
	border: 2px solid black;
	border-radius: 5px;
	margin-top: 3px;
}

dd .bar {
	display: flex;
	align-items: center;
	background: rgb(209, 0, 0);
	border-radius: 4px;
	height: 100%;
	width: 75%;
	text-align: right;
}

dd div strong {
	margin-left: 3px;
	background: transparent;
	height: 24px;
	width: 9px;
	font-size: 0.9em;
	font-weight: 700;
}