#root {
	max-width: 1280px;
	margin: 0 auto;
	text-align: center;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	background-color: #242424;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	background: no-repeat fixed url(./resources/images-pokemon-types/pokemon-background-wallpaper.jpg);
	background-size: cover;
	
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

li {
	list-style: none;
}

a {
	color: #646cff;
	text-decoration: inherit;
}

a:hover {
	color: #535bf2;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}

footer {
	display: flex;
	gap: 10px;
	justify-content: center;
}

footer h1 {
	font-size: medium;
}

footer img {
	max-width: 75px;
}
